
*,
::after,
::before{
    box-sizing: border-box;
    /* border: 1px solid red; */
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #333333;
    margin: 0;
}

img{
    display: inline-block;
    max-width: 100%;
    vertical-align: top;
}

a{
    text-decoration: none;
    display: inline;
    cursor: pointer;
}

li{
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li,
figure{
    margin: 0;
    padding: 0;
}

header{
    position: absolute;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}


.container{
    max-width: 64%;
    margin: 0 auto;
}



.header__wrapper{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-top: 30px;
}

.header__inner{
    display: flex;
    justify-content: space-between;
}

.logo{
    align-self: center;
    font-size: 30px;
    font-weight: 700;
    color: #ffffff;
    cursor: pointer;
}

.nav-list,
.staffer-networks{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
}

.nav-list li{
    padding: 12px 25px;
}

.nav-list a{
   color: #ffffff;
   border-bottom: 3px solid transparent;
   text-transform: uppercase;
   padding-bottom: 5px;
}

.nav-list a:hover{
    color: #fce38a;
    border-bottom: 1px solid #fce38a;
}

.booking{
    align-self: center;
}

.icon-shopping-cart,
.icon-search{
    padding: 0 20px;
    color: #ffffff;
}

.about{
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 170px 0;
    display: flex;
    justify-content: space-between;
}

.about:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(to top, rgba(252, 227, 138, 0.9)0%, rgba(243, 129, 129, 0.9) 100%);
}

.about__container{
    min-width: 43%;
    margin: 0 auto;
    padding-bottom: 25px;
    z-index: 5;
}

.about__inner{
    margin-bottom: 100px;
    position: relative;
    
}

.about__inner::after{
    position: absolute;
    content: "";
    width: 100%;
    max-width: 60px;
    height: 3px;
    background-color: #fff;
    top: 110%;
    left: 47%;
}

.creative{
    color: #ffffff;
    font-family: 'Kaushan Script', сursive;
    font-size: 72px;
    text-align: center;
    margin-bottom: 42px;
}

.about__title{
    color: #ffffff;
    font-size: 150px;
    font-weight: 700;
    line-height: 0.93;
    text-transform: uppercase;
    text-align: center;
}

.holder-btn{
  display: flex;
  justify-content: center;
}
.line{
    margin-bottom: 45px;
}
.about__btn{
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px 32px;
    border: 1px solid #ffffff;
    z-index: 20;
    display: inline-block;
}

.service{
    margin-bottom: 110px;
}

.service__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 180px;
}

.title-holder{
    position: relative;
    z-index: 10;
    margin-top: 110px;
}

.title-holder::before{
    position: absolute;
    content: "";
    width: 100%;
    max-width: 60px;
    height: 3px;
    background-color: #f38181;
    top: 110%;
    left: 47%;
}

h3{
    font-family: 'Kaushan Script', сursive;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

h4{
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 120px;
}

.development__wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.development{
	width: calc(33.333% - 20px);
    display: flex;
    align-items: center;
}

.development__inner{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h5{
    text-transform: uppercase;
}

.description{
    margin-top: 20px;
}

p{
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    text-align: justify;
}

.icon-service{
    margin-right: 15px;
}

svg{
    text-align: center;
}


.line{
    content: "";
    max-width: 1200px;
    height: 1px;
    background-color: #e5e5e5;
    /* margin-bottom: 50px; */
}

.result{
    background-color: #95e1d3;
}

.result__wrapper{
    display: flex;
    justify-content: center;
    align-items: stretch;
    border-right: 1px solid #fff;
    
}

.result__inner{
    max-width: 20%;
    width: 100%;
    padding: 90px 0;
    border-left: 1px solid #fff;
}

.namber{
    color: #ffffff;
    font-size: 72px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.signature{
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
}


.annotation{
    max-width: 85%;
    margin: 0 auto 92px;
    text-align-last: center;
}

.staffer-wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 120px;
}

.staffer-img{
    margin-bottom: 30px;
}

.surname{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
}

.position{
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    text-align: center;
}

.hipster{
    background-color: #f8f8f8;
    /* margin-bottom: 110px; */
    padding: 60px 0;
}

.staffer-img{
    position: relative;
    transform: translateX(0%); transform: translateY(0%);
}

.staffer-img:hover:after{
    position: absolute;
    content: "";
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    background: linear-gradient(to top, rgba(252, 227, 138, 0.9)0%, rgba(243, 129, 129, 0.9) 100%);
    box-shadow: 13px 16px 0px 0px rgba(149,225,221,1);
    transform: translateY(-3.7%) translateX(-4%);
    transition: transform, 2.5, else;
} 

.staffer-networks{
    display: none;
}

.staffer-img:hover .staffer-networks{
    display:block;
    position: absolute;
    z-index: 10;
    top: 45%;
    left: 15%;
}

.staffer-networks li{
    display: inline;
    border-left: 1px solid #fce38a;
    padding: 15px 20px;
    background-color: #fce38a;
    border-right: 1px solid #f38181;
}

.staffer-networks li:last-child{
    border-right: none;
}

.staffer-networks li:hover{
    background-color: #f38181;
    
}

.staffer-networks li a{
   color: #f38181;
}

.staffer-networks li a:hover{
     color: #fff;
}

.hipster-holder{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.staffer-wrapper{
    margin: 0 -30px;
}

figure{
    padding: 0 15px;
    margin-bottom: 117px;
}

.portfolio{
    margin-bottom: 100px;
}

.gallery{
    max-width: 100%;
    width: 100%;
    display: flex;
}

.gallery__wrapper{
    max-width: 25%;
}

.img-holder{
    position: relative;
}

.img-holder:hover::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(252, 227, 138, 0.9)0%, rgba(243, 129, 129, 0.9) 100%);
    transition: .3s;
}

.block{
    display: none;
}

.img-holder:hover .block{
    display: block;
    position: absolute;
    z-index: 10;
    top: 45%;
    left: 25%;

}

.block a{
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.place{
    color: #ffffff;
    text-transform: uppercase;
    margin: 17px 0;
}

.place-description{
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    text-align: center;
}

.writting{
    margin-bottom: 130px;
}

.writting__inner{
    display: flex;
    justify-content: space-between;
}

.writting__img{
    width: 17.07%;
    width: 100%;
}

blockquote{
    max-width: 62,35%;
}

blockquote p{
    color: #999999;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 20px; 
    position: relative;
    font-style: italic;
}

cite{
    font-family: 'Kaushan Script', сursive;
    font-size: 24px;
    cursor: pointer;
}

blockquote::after{
    position: absolute;
    content: "";
    width: 60px;
    height: 3px;
    top: 0%;
    left: 0%;
    z-index: 10;
}

.blog__client{
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
}


.blog__client:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.85);
    
}
.blog__client .title-holder{
    margin: 0;
    padding-top: 110px;
}

.blog__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.client{
    position: relative;
    display: flex;
    max-width: 50%;
    z-index: 10;
}

.client__img{
    max-width: 110px;
    width: 100%;
}

.client-blockquote{
    max-width: 61%;
}

.client__inner{
    display: flex;
    flex-direction: column;
}

.latest-blog{
    padding-bottom: 66px;
}

.latest__wrapper{
    display: flex;
    margin: 0 -30px;
}

.latest__inner{
    width: calc(33.33% - 15px);
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.latest__holder{
    width: 100%;
}

.latest__holder a{
    color: #333333;
}

.latest__img{
    position: relative;
}

.latest__time{
    position: absolute;
    bottom: 5%;
    left: -3%;
    display: flex;
    text-align: center;
    padding: 15px;
    background-color: #95e1d3;
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline;
}


.latest__time span{
    font-family: "Roboto - Light Italic";
    font-size: 15px;
    font-weight: 300;
}

.feedbeck{
    padding: 20px 0 0;
    border-top: 1px solid #e5e5e5;
}

.feedbeck__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 110px;
}

.icon-eye,
.icon-commenting{
    color: #95e1d3;
}

.view,
.message{
    color: #999999;
    font-family: "Roboto - Light Italic";
    font-size: 15px;
    line-height: 24px;
}

.time_month{
    font-weight: 300;
    font-size: 12px;
}

footer{
    background-color: #f8f8f8;
}

.footer__wrapper{
    display: flex;
    margin: 0 -40px;
    padding: 70px 0;
}

.footer__inner{
    display: flex;
    width: calc(33.33% - 20px);
    flex-direction: column;
    justify-content: space-between;
    padding: 0 20px;
}

.footer__logo{
    color: #cccccc;
    font-size: 46px;
    font-weight: 700;
}

.followers{
    padding-top: 18px;
    border-top: 1px solid #e5e5e5;
}

.followers span{
   font-size: 18px;
   font-weight: 700;
}

.footer__network{
    display: flex;
    align-items: center;
    justify-content: start;
}

.folower-network{
    color: #999999;
    font-family: "Roboto - Light Italic";
    font-size: 15px;
    line-height: 1.6;
    padding-right: 23px;
}

.network__icon{
    width: 50%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.network__icon i{
    color: #95e1d3;
}

.footer__form{
    display: flex;
}

.footer__input input{
    display: block;
    max-width: 230px;
    width: 100%;
    height: 45px;
    border: 1px solid #cccccc;
    padding-left: 13px;
    padding-right: 13px;
    color: #cccccc;
    font-family: "Roboto - Light Italic";
    font-size: 15px;
    line-height: 1.6;
}

.footer__btn{
    padding: 14px 34px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #95e1d3;
    outline: none;
    border: none;
}

.blog__holder{
    display: flex;
    align-items: center ;
    margin: 20px 0;
}
.blog__holder:first-child{
    margin-top: 0;
}
.blog__holder:last-child{
    margin-bottom: 0;
}
.blog__info{
   padding-left: 20px;
}

.instagram__gallery{
    display: flex;
    width: calc(33.33%);

}

.instagram__gallery img{
  padding: 1px;
}

.instagram__btn{
   font-family: "Roboto - Light Italic";
   font-size: 13px;
   line-height: 1.84;
}

.footer__end{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    border-top: 1px solid #e5e5e5;
}

.icon-copyright{
    margin-right: 5px;
    color: #95e1d3;
}

.template span{
    color: #f38181;
}

.blog__img a{
    display: block;
}
/* .footer__blog{
    height: 100%;
} */
.footer__title{
    margin-bottom: 40px;
}
.blog__wrapper{
    display: flex;
    width: 100%;
}
.blog__wrapper .client{
    width: 50%;
}